<div class="jumbotron">
    <h1 class="display-3" align="center">Guessing game!</h1>
</div>

<div class="row">
    <div class="col">
        <div class="card word">
            <div class="card-block">
                <h3 class="card-title" align="center">
                    <%= @word_array[0] %>
                </h3>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card word">
            <div class="card-block">
                <h3 class="card-title" align="center">
                    <%= @word_array[1] %>
                </h3>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card word">
            <div class="card-block">
                <h3 class="card-title" align="center">
                    <%= @word_array[2] %>
                </h3>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card word">
            <div class="card-block">
                <h3 class="card-title" align="center">
                    <%= @word_array[3] %>
                </h3>
            </div>
        </div>
    </div>
</div>
</br>
</br>

<form>
    <div class="form-group">
        <%= form_tag("/", method: "get") do %>
    </div>
    <div class="form-group">
        <%= label_tag(:answer1, @definition_array[0]) %>
            <%= text_field_tag( :answer, "", :class => "form-control", placeholder: "Enter one of the words" )%>
    </div>
    <div class="form-group">
        <%= label_tag(:answer2, @definition_array[1]) %>
            <%= text_field_tag( :answer, "", :class => "form-control", placeholder: "Enter one of the words" )%>
    </div>
    <div class="form-group">
        <%= label_tag(:answer3, @definition_array[2]) %>
            <%= text_field_tag( :answer, "", :class => "form-control", placeholder: "Enter one of the words" )%>
    </div>
    <%= label_tag(:answer4, @definition_array[3]) %>
        <%= text_field_tag( :answer, "", :class => "form-control", placeholder: "Enter one of the words" )%>
            </div>
            <br>
            <%= submit_tag 'Submit', class: "btn btn-primary" %>
                <% end %>
</form>