<br>
<div class="mx-auto">
    <%= form_with(model: welcome, local: true) do |form| %>
        <% if welcome.errors.any? %>
            <div id="error_explanation">
                <h2>
                    <%= pluralize(welcome.errors.count, "error") %> prohibited this welcome from being saved:</h2>

                <ul>
                    <% welcome.errors.full_messages.each do |message| %>
                        <li>
                            <%= message %>
                        </li>
                        <% end %>
                </ul>
            </div>
            <% end %>

                <div class="form-group row mx-auto">
                    <%= form.label "Name ", :class => "col-1 col-form-label" %>
                        <div class="col-3">
                            <%= form.text_field :name, id: :welcome_name, :class => "form-control"  %>
                        </div>
                        <% form.label :score %>
                            <% form.number_field :score, id: :welcome_score %>
                                <div class="col-2">
                                    <%= form.submit(:class => "btn btn-primary", :value => "New Game", 'data-disable-with' => "New Game") %>
                                        <% end %>
                                </div>


                </div>
</div>
</div>